<h1>Cadastrar Evento</h1>

<% if(@event.errors.any?) %>
    <p>Erros:</p>
    <ul>
        <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @event) do |form| %>
    <div>
        <%= form.label :name %> <br>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %> <br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :min_quantity %> <br>
        <%= form.number_field :min_quantity %>
    </div>
    <div>
        <%= form.label :max_quantity %> <br>
        <%= form.number_field :max_quantity %>
    </div>
    <div>
        <%= form.label :duration %> <br>
        <%= form.number_field :duration %>
    </div>
    <div>
        <%= form.label :menu %> <br>
        <%= form.text_area :menu %>
    </div>
    <div class="d-flex align-items-center">
        <%= form.label :alcoholic_drink, class: 'm-2' %>
        <%= form.check_box :alcoholic_drink %>
    </div>
    <div class="d-flex align-items-center">
        <%= form.label :party_decoration, class: 'm-2' %>
        <%= form.check_box :party_decoration %>
    </div>
    <div class="d-flex align-items-center">
        <%= form.label :valet_service, class: 'm-2' %>
        <%= form.check_box :valet_service %>
    </div>
    <div>
        <%= form.label :local, 'Informações sobre o local do evento. No endereço do Buffet ou do contratante' %> <br>
        <%= form.text_field :local %>
    </div>
    <div>
        <%= form.label :weekend_base_price %> <br>
        <%= form.number_field :weekend_base_price, step: 0.01 %>
    </div>
    <div>
        <%= form.label :weekend_additional_price_person %> <br>
        <%= form.number_field :weekend_additional_price_person %>
    </div>
    <div>
        <%= form.label :weekend_additional_price_hour %> <br>
        <%= form.number_field :weekend_additional_price_hour %>
    </div>
    <div>
        <%= form.label :weekday_base_price %> <br>
        <%= form.number_field :weekday_base_price %>
    </div>
    <div>
        <%= form.label :weekday_additional_price_person %> <br>
        <%= form.number_field :weekday_additional_price_person %>
    </div>
    <div>
        <%= form.label :weekday_additional_price_hour %> <br>
        <%= form.number_field :weekday_additional_price_hour %>
    </div>
    <div class="my-2">
        <%= form.submit %>
    </div>
<% end %>