<h1>Pedidos</h1>

<% if @orders.empty? %>
    <p>Não há pedidos</p>
<% else %>
    <% @orders.each do |order| %>
        <%= link_to order.code, order_path(order) %> - <%= l(order.date) %> |
        <% if order.status == 'Aguardando avaliação do buffet'%>
            <span class="text-warning"><%= order.status %></span>
        <% elsif order.status == 'Pedido confirmado' %>
            <span class="text-success"><%= order.status %></span>
        <% else %>
            <span class="text-danger"><%= order.status %></span>
        <% end %>
        <hr>
    <% end %>
<% end %>