<h1>Pedido <%= @order.code %></h1>

<dl>
    <dt>Código</dt>
    <dd><%= @order.code %></dd>
    <dt>Valor</dt>
    <dd>$ <%= @order.full_price %></dd>
    <dt>Data</dt>
    <dd><%= l(@order.date) %></dd>
    <dt>Quantidade de pessoas</dt>
    <dd><%= @order.quantity %></dd>
    <dt>Detalhes</dt>
    <dd><%= @order.details %></dd>
    <dt>Status</dt>
    <% if t(@order.status) == 'Aguardando avaliação do buffet'%>
        <dd><span class="text-warning"><%= t(@order.status) %></span></dd>
    <% elsif t(@order.status) == 'Pedido confirmado' %>
        <dd><span class="text-success"><%= t(@order.status) %></span></dd>
    <% else %>
        <dd><span class="text-danger"><%= t(@order.status) %></span></dd>
    <% end %>

    <% if @order.payment_method.present? %>
        <dt>Método de pagamento</dt>
        <dd><%= @order.payment_method %></dd>
    <% end %>
    <% if @order.discount.present? %>
        <dt>Desconto</dt>
        <dd>$ <%= @order.discount %></dd>
    <% end %>
    <% if @order.extra_fee.present? %>
        <dt>Taxa extra</dt>
        <dd>$ <%= @order.extra_fee %></dd>
    <% end %>
    <% if @order.fee_or_discount_reason.present? %>
        <dt>Motivo da taxa extra ou desconto</dt>
        <dd><%= @order.fee_or_discount_reason %></dd>
    <% end %>
    <% if @order.payment_validity.present? %>
        <dt>Validade do pagamento</dt>
        <dd><%= l(@order.payment_validity) %></dd>

        <% if @current_date > @order.payment_validity %>
            <span class="text-danger">Data de pagamento expirou</span>
        <% elsif @order.payment_done %>
            <span class="text-primary">Evento será realizado</span>
        <% else %>
            <%= button_to 'Pagar', payment_order_path(@order), class: 'button-to' %>
        <% end %>
    <% end %>
</dl>