<h1>Pedido <%= @order.code %></h1>

<dl>
    <dt>Código</dt>
    <dd><%= @order.code %></dd>
    <dt>Data</dt>
    <dd><%= l(@order.date) %></dd>
    <dt>Quantidade de pessoas</dt>
    <dd><%= @order.quantity %></dd>
    <dt>Status</dt>
    <dd><%= @order.status %></dd>
</dl>