<h1>Pedido <%= @order.code %></h1>

<dl>
    <dt>Código</dt>
    <dd><%= @order.code %></dd>
    <dt>Valor</dt>
    <dd>$ <%= @order.full_price %></dd>
    <dt>Data</dt>
    <dd><%= l(@order.date) %></dd>
    <dt>Quantidade de pessoas</dt>
    <dd><%= @order.quantity %></dd>
    <dt>Detalhes</dt>
    <dd><%= @order.details %></dd>
    <dt>Status</dt>
    <% if @order.status == 'Aguardando avaliação do buffet' %>
        <dd><span class="text-warning"><%= @order.status %></span></dd>
    <% elsif @order.status == 'Pedido confirmado' %>
        <dd><span class="text-success"><%= @order.status %></span></dd>
    <% else %>
        <dd><span class="text-danger"><%= @order.status %></span></dd>
    <% end %>

    <% if @order.payment_method.present? %>
        <dt>Método de pagamento</dt>
        <dd><%= @order.payment_method %></dd>
    <% end %>
    <% if @order.discount.present? %>
        <dt>Desconto</dt>
        <dd>$ <%= @order.discount %></dd>
    <% end %>
    <% if @order.extra_fee.present? %>
        <dt>Taxa extra</dt>
        <dd>$ <%= @order.extra_fee %></dd>
    <% end %>
    <% if @order.fee_or_discount_reason.present? %>
        <dt>Motivo da taxa extra ou desconto</dt>
        <dd><%= @order.fee_or_discount_reason %></dd>
    <% end %>
    <% if @order.payment_validity.present? %>
        <dt>Validade do pagamento</dt>
        <dd><%= l(@order.payment_validity) %></dd>
    <% end %>

    <% if @order.status == 'Aguardando avaliação do buffet' %>
        <%= link_to 'Aprovar', confirm_order_path(@order) %>
        <span class="mx-2">|</span>
        <%= link_to 'Recusar' %>
    <% end %>
</dl>